<!--
  ~ Copyright (c) 2001-2014, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->

<plugin xmlns="http://www.generalinterface.org/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.generalinterface.org/gi/amp http://www.generalinterface.org/xsd/plugin.xsd"
        id="jsx3.ide.editor.text"
        name="Text Editor Plug-In"
        version="0.1"
        property="TextEditorPlugin">

  <script><![CDATA[
    this.loaded().when(jsx3.$F(function() {
      this.loadRsrcComponent("cssmenu", this.getServer().getRootBlock());
    }).bind(this));
  ]]></script>

  <requires>
    <plugin id="jsx3.ide.editor"/>
    <!--<plugin id="net.sf.editarea"/>-->
  </requires>

  <resources>
    <script id="js" path="TextEditor.js"/>
    <xml id="editor" path="tab_texteditor.xml"/>

    <xml id="cssmenu">
      <data>
        <object type="jsx3.gui.Menu" xmlns="urn:tibco.com/v3.0">
          <variants jsxxmlasync="1"/>
          <strings jsxname="jsxmenu_typeaheadcss" jsxxmlurl="menu-css.xml" jsxdisplay="none" />
          <events jsxexecute="jsx3.ide.doInsertCode(objRECORD,this.getContextParent(),'css');"/>
        </object>
      </data>
    </xml>
  </resources>

  <extension point="jsx3.ide.editor.type">
    <type class="jsx3.ide.TextEditor" default="true">
      <filetype id="txt"/>
    </type>
  </extension>
  
</plugin>
    