<!--
  ~ Copyright (c) 2001-2014, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->

<plugin xmlns="http://www.generalinterface.org/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.generalinterface.org/gi/amp http://www.generalinterface.org/xsd/plugin.xsd"
        id="jsx3.ide.editor.props"
        name="Properties Editor Plug-In"
        version="0.1"
        property="PropertiesEditorPlugin">

  <requires>
    <plugin id="jsx3.ide.editor"/>
    <plugin id="jsx3.gui.ImageButton"/>
  </requires>

  <resources>
    <script id="js" path="PropertiesEditor.js"/>
    <xml id="editor" path="tab_dynpropeditor.xml"/>
    <xml id="mode_source" path="jss-xmlrw.xml" load="manual"/>
    <xml id="mode_sourcefmt" path="jss-xmlro.xml" load="manual"/>
  </resources>

  <extension point="jsx3.ide.editor.type">
    <type class="jsx3.ide.PropertiesEditor">
      <filetype id="jss"/>
    </type>
  </extension>
  
</plugin>
    