<!--
  ~ Copyright (c) 2001-2014, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->

<plugin xmlns="http://www.generalinterface.org/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.generalinterface.org/gi/amp http://www.generalinterface.org/xsd/plugin.xsd"
        id="jsx3.ide.recorder"
        property="RecorderEditorPlugin"
        name="Test Recorder Base Plug-In"
        version="0.1">

  <requires>
    <plugin id="jsx3.ide.editor"/>
  </requires>

  <resources>
    <script id="js" path="RecorderEditor.js"/>
    <xml id="actionsxml" path="actions.xml"/>
    <xml id="editor" path="editor.xml">
      <prereq id="actionsxml"/>
    </xml>
  </resources>

</plugin>
