<!--
  ~ Copyright (c) 2001-2014, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->
<serialization xmlns="urn:tibco.com/v3.0">
  <name><![CDATA[Menu]]></name>
  <icon><![CDATA[images/prototypes/matrix-columnmask.gif]]></icon>
  <description><![CDATA[Renders a drop-down menu in each row of a column using the jsx3.gui.Menu class.
    In the EXECUTE event, the CDF record id is available with this.emGetSession().recordId.
    Honors the @jsxdisabled and @jsxnomask CDF attributes.]]></description>
  <object type="jsx3.gui.Matrix.Column">
    <dynamics jsxborder="@Outset" jsxbg="@Bevel TopDown" jsxbgcolor="@Solid Disabled"/>
    <strings jsxname="menuColumn" jsxwidth="100" jsxtext="Menu"
        jsxpadding="3" jsxcellpadding="1" jsxvaluetemplate="@empty"/>
    <object type="jsx3.gui.Menu">
      <strings jsxname="menuMask" jsxtext="Actions" jsxxml="&lt;data jsxid=&quot;jsxroot&quot;&gt;
&lt;record jsxid=&quot;1&quot; jsxtext=&quot;One&quot;/&gt;
&lt;record jsxid=&quot;2&quot; jsxtext=&quot;Two&quot;/&gt;
&lt;record jsxid=&quot;3&quot; jsxtext=&quot;Three&quot;/&gt;
&lt;/data&gt;"/>
      <events jsxexecute="jsx3.log('Executed menu item ' + strRECORDID + ' in row ' + this.emGetSession().recordId + '.');"/>
    </object>
  </object>
</serialization>
