<plugin xmlns="http://www.generalinterface.org/gi/amp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.generalinterface.org/gi/amp http://www.generalinterface.org/xsd/plugin.xsd"
        id="jsx3.ide.colorpicker"
        name="Color Picker Plug-In"
        class="jsx3.ide.ui.DialogToolPlugIn"
        version="0.1">

  <requires>
    <plugin id="jsx3.ide.ui"/>
    <plugin id="jsx3.gui.ColorPicker"/>
    <plugin id="jsx3.gui.RadioButton"/>
    <plugin id="jsx3.gui.TextBox"/>
    <plugin id="jsx3.gui.ImageButton"/>
  </requires>

  <resources>
    <xml id="ui" path="colorpicker.xml"/>
  </resources>

  <extension point="jsx3.ide.ui.action" id="menu.help">
    <action
        id="jsx3.ide.colorpicker"
        label="Color Picker..." img="jsxapp:/images/prototypes/colorpicker.gif"
        menupath="/jsx3.ide.tools/ide" hkconfig="true"
        execute="this.getPlugIn().openTool();"/>
  </extension>

</plugin>